/* 
Tablet layout
 */
@media screen and (min-width: 1024px) {
  /* 
  welcom
   */
  .welcome {
    overflow: hidden;
    width: 100%;
    padding: 10px;
    background-color: #fff;
  }
  .welcomeContent {
    overflow: hidden;
    margin: 0 10px;
  }
  .mobile-container {
    display: none;
  }
  .form {
    overflow: hidden;
    margin: 0 20px;
    text-align: center;
  }
  .form {
    padding: 25px 30px;
  }
  .contact form input {
    width: 45%;
    height: 40px;
  }
  .contact form textarea {
    width: 92%;
    padding: 0px;
  }
  .innerService {
    overflow: hidden;
    margin: 0 5% 0 0;
  }
  .item {
    width: 240px;
  }
}
@media screen and (max-width: 980px) and (min-width: 768px) {
  .mobile-container {
    display: none;
  }
  /* 
welcome 
 */
  .welcomeContent {
    margin: 0 50px;
  }
  .welcome .left {
    width: 100%;
  }
  .welcome .right,
  .welcome .right img {
    width: 100%;
    height: auto;
  }
  /*
 Services
 */
  .innerService {
    overflow: hidden;
    margin: 0 5px;
  }
  .item {
    width: 165px;
  }

  /* 
contact
 */
  .form {
    overflow: hidden;
    margin: 0 20px;
    text-align: center;
  }
  .form {
    padding: 25px 30px;
  }
  .contact form input {
    width: 45%;
    height: 40px;
  }
  .contact form textarea {
    width: 92%;
    padding: 0px;
  }
  /* 
  foooter
   */
  .footer {
    width: auto;
    height: 98px;
    text-align: center;
  }
  .footer .logo {
    padding: 20px 30px;
  }
  .footer .logo img {
    width: 30%;
  }
}
/* //////////////////////////////////////////// */
/* 
Mobile layout
*/

@media screen and (max-width: 767px) and (min-width: 200px) {
  /* 
  welcome 
   */
  .social ul {
    margin: 0 0 0 60px;
  }

  .search {
    display: none;
  }
  /* to make float should main div heddin */
  .content .innerHeder {
    overflow: hidden;
  }
  .social {
    float: left;
  }
  /* 
welcome 
 */
  .welcome {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
  }
  .welcomeContent {
    margin: 0 7px;
  }
  .welcome .left {
    width: 100%;
  }
  .welcome .right,
  .welcome .right img {
    width: 100%;
    height: auto;
  }
  /*
   Services
   */
  .innerService {
    margin: 0 5px;
  }
  .item {
    width: 300px;
    margin: 0 5px;
    padding: 10px 5px;
  }
  .item h3 {
    font-size: 80px;
    position: absolute;
    top: -30px;
    left: -5px;
  }
  .item p {
    font-size: 16px;
  }

  /* 
  contact
   */
  .form {
    overflow: hidden;
    margin: 0 20px;
    text-align: center;
  }
  .form {
    padding: 25px 30px;
  }
  .contact form input {
    width: 45%;
    height: 40px;
  }
  .contact form textarea {
    width: 94%;
  }
  .contact form button {
    width: 275px;
    padding: 0;
    margin: 0;
  }
  /* 
    foooter
     */
  .footer {
    width: auto;
    height: 98px;
    text-align: center;
  }
  .footer .logo {
    padding: 20px 30px;
  }
  .footer .logo img {
    width: 35%;
  }
  /* 
  NavRespons
   */
  .navSection {
    display: none;
  }

  .mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: rgb(151, 69, 95);
    height: auto;
    border-radius: 10px;
  }

  .topnav {
    overflow: hidden;
    background-color: rgb(151, 69, 95);
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

    display: block;
  }

  .topnav a.icon {
    background: ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #efa;
    color: black;
  }

  .active {
    background-color: rgb(151, 69, 95);
    color: white;
  }
}
@media screen and (max-width: 540px) {
  .contact form input {
    width: 100%;
    height: 40px;
  }
  .contact form textarea {
    width: 100%;
  }
  .contact form button {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
